---
const { CloudPlatform, ProgrammingLanguage, CICD, Infrastructure, 
        ContainersOrchestration, ObservabilityMonitoring, Databases, VCSIT } = Astro.props;
---

<div class="relative flex flex-col justify-normal pl-12">
  <p class="mb-0.5 text-lg font-medium dark:text-neutral-300">Cloud Platforms: <span class="mb-0.5 text-lg text-amber-600 font-normal dark:text-neutral-300 hover:font-medium"> {CloudPlatform} </span> </p> 
  <p class="mb-0.5 text-lg font-medium dark:text-neutral-300">Programming Language: <span class="mb-0.5 text-lg text-amber-600 font-normal dark:text-neutral-300 hover:font-medium"> {ProgrammingLanguage} </span> </p> 
  <p class="mb-0.5 text-lg font-medium dark:text-neutral-300">CICD: <span class="mb-0.5 text-lg text-amber-600 font-normal dark:text-neutral-300 hover:font-medium"> {CICD} </span> </p> 
  <p class="mb-0.5 text-lg font-medium dark:text-neutral-300">Infrastructure: <span class="mb-0.5 text-lg text-amber-600 font-normal dark:text-neutral-300 hover:font-medium"> {Infrastructure} </span> </p> 
  <p class="mb-0.5 text-lg font-medium dark:text-neutral-300">Container and Orchestration: <span class="mb-0.5 text-lg text-amber-600 font-normal dark:text-neutral-300 hover:font-medium"> {ContainersOrchestration} </span> </p> 
  <p class="mb-0.5 text-lg font-medium dark:text-neutral-300">Observability/Monitoring: <span class="mb-0.5 text-lg text-amber-600 font-normal dark:text-neutral-300 hover:font-medium"> {ObservabilityMonitoring} </span> </p> 
  <p class="mb-0.5 text-lg font-medium dark:text-neutral-300">Databases: <span class="mb-0.5 text-lg text-amber-600 font-normal dark:text-neutral-300 hover:font-medium"> {Databases} </span> </p> 
  <p class="mb-0.5 text-lg font-medium dark:text-neutral-300">Version Control and Issue Tracking: <span class="mb-0.5 text-lg text-amber-600 font-normal dark:text-neutral-300 hover:font-medium"> {VCSIT} </span> </p> 
</div>
